<%- include('partials/header') %>

<main class="main-cover">

    <div>
        <h1>Don't Want to Miss a Show You Like?</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead"> <a href="/login" role="button" class="btn btn-lg btn-light fw-bold border-white bg-white rgst-btn">Login</a> or <a href="/register" role="button" class="btn btn-lg btn-light fw-bold border-white bg-white rgst-btn">Register</a> </p>
    </div>

</main>

<%- include('partials/footer') %>